@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@500&family=Raleway:wght@300&family=Roboto:wght@100;400;500&family=Rubik+Iso&family=Source+Sans+Pro:wght@200;900&display=swap");
// global variable
:root {
  --bgColor: #2dbcfc;
  --fontText: "Poppins", sans-serif;
  --fontText2: "Roboto", sans-serif;
  --fontText3: "Open Sans", sans-serif;
  --fontText4: "Source Sans Pro", sans-serif;
}

.navbar .porto {
  font-weight: bold;
}

section {
  padding-top: 5rem;
}
.home {
  /* background-color: var(--bgSection); */
  padding-top: 10rem;
  margin-bottom: 1rem;
}
.home .btn-tombol {
  background-color: #2dbcfc;
}
.home h1 .text-name {
  color: #2dbcfc;
}
.home button {
  font-family: var(--fontText3);
}
.wr-navbar {
  background-color: #2dbcfc;
}
.project {
  background-color: var(--bgSection);
}
.project span {
  font-family: var(--fontText4);
  font-weight: bold;
}
.project .img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */
.project .img-hover-zoom img {
  transition: transform 0.5s ease;
}
/* [3] Finally, transforming the image when container gets hovered */
.project .img-hover-zoom:hover img {
  transform: scale(1.5);
}
.skill {
  background-color: var(--bgSection4);
}
.skill .skill-title {
  font-family: var(--fontText4);
  font-weight: bold;
}
.skill h2 {
  font-family: var(--fontText2);
}
.skill .icon {
  text-align: center;
}
.skill .icon span {
  font-size: 80px;
}
.hire {
  background-color: var(--bgSection);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.hire .hire-img {
  background-color: var(--bgSection);
}
.hire img {
  height: 120px;
  width: 120px;
}
.hire img:hover {
  height: 120px;
  width: 120px;
  transition: 0.3s;
  margin-top: -20px;
}
footer {
  background-color: #2dbcfc;
  text-align: center;
}
footer p {
  font-family: var(--fontText2);
}
footer span i {
  font-size: 30px;
  padding-right: 10px;
}

.images .mh {
  margin-top: -5rem;
  position: absolute;
  height: 70%;
  right: 11%;
  transition: right 1s;
}
.images .shape {
  height: 50%;
  width: 80%;
  margin-left: 13%;
  /* right: 50%; */
}
.images:hover .mh {
  right: 13%;
}
.skill .icon {
  height: 10rem;
  width: 10rem;
}
.skill .icon:hover {
  height: 10rem;
  width: 10rem;
  background-color: #2dbcfc;
  border-radius: 50%;
  color: white;
}

/* breakpoint */

@media (max-width: 575.98px) {
  section {
    padding-top: 1rem;
  }
  .home {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 1rem;
  }
  .home h1 {
    text-align: center;
  }
  .images .mh {
    height: 300px;
    right: 8%;
  }
  .images .shape {
    margin: 0;
  }
}
