body{
  font-family: "Arial";
}
.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
/* #project {
  background-color: #e2edff;
} */
section {
  padding-top: 5rem;
}
.text-navbar {
  font-family: "Arial";
}
#project .title {
  font-size: 12px;
  font-weight: 600;
}
#project .title-project {
  font-size: 14px;
}
#project .detail {
  font-size: 14px;
}
#project img{
  height: 180px;
  
}
