<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Detail projek</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand ps-sm-0 ps-lg-5 fw-bolder text-light" href="#"> <h4>Detail projek</h4> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <a href="../index.html" class="navbar-text ms-auto">
                Back
              </a>
            </div>
          </div>
        </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ps-lg-5 ps-sm-0">
                <h2 class="fw-bolder mt-5">Branch-based cashier application ayam nyungsep</h2>
                <h5 class="mt-3 fw-bold">Superadmin</h5>
                <ul>
                    <li>Manajemen data cabang ( meliputi data kasir, menu cabang, transaksi cabang )</li>
                    <li>Manajemen data transaksi ( informasi mengenai transaksi di semua cabang, meliputi data penjualan & transaksi )</li>
                    <li>Manajemen data bahan mentah keluar & masuk ( informasi bahan mentah masuk atau keluar di gudang )</li>
                    <li>Manajemen data gudang ( ketersediaan bahan mentah cabang )</li>
                    <li>Manajemen data stok ( informasi stok menu cabang )</li>
                    <li>Manajemen data barang keluar ( Barang keluar & Barang masuk )</li>
                </ul>
                <h5 class="mt-3 fw-bold">User </h5>
                <ul>
                    <li>Manajemen transaksi</li>
                    <li>Manajemen pembelian</li>
                    <li>Manajemen data penjualan</li>
                    <li>Manajemen data menu</li>
                </ul>
                <h5 class="mt-3 fw-bold">Link projek</h5>
                <a href="https://nyungsep.com/">klik website</a>
                <h5 class="mt-5">Screenshot</h5>
                <div class="row">
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep1.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep4.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep2.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep3.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep5.JPG" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>