<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../assets/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style.css" />
    <title>My Portfolio</title>
  </head>
  <body id="home">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#home"><b class="text-navbar ms-lg-5 fs-3 fw-lighter">Portfolio</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto fs-5 fw-light fst-italic">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="../index.html">Kembali</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
        <div class="row pb-5">
            <div class="col-lg-12 ps-lg-5 ps-sm-0">
                <h2 class="fw-bolder mt-5">Register Product BPOM And Halal</h2>
                <h5 class="mt-5 fw-bold">FLOW MENU BPOM</h5>
                <!-- <ul>
                    <li>Mengisi form bpom berdasarkan brand product</li>
                    <li>Melakukan approve ke SUPER RA</li>
                </ul> -->
                <h6 class="mt-3 fw-bold">DRAFT</h6>
                <ul>
                    <li>Mengisi form bpom berdasarkan brand product</li>
                    <li>Pada Status DRAFT PRODEV Melakukan approve ke SUPER RA</li>
                </ul>
                <h6 class="mt-3 fw-bold">SUPER RA</h6>
                <ul>
                    <li>Mengevaluasi data approve dari prodev</li>
                    <li>Selanjutnya Admin Super RA Melakukan Approve ke ADMIN RND</li>
                </ul>
                <h6 class="mt-3 fw-bold">ADMIN RND</h6>
                <ul>
                    <li>Mengevaluasi data approve dari prodev</li>
                    <li>Selanjutnya Admin Super RA Melakukan Approve ke ADMIN RND</li>
                </ul>
                <h6 class="mt-3 fw-bold">ADMIN RA</h6>
                <ul>
                    <li>Mengevaluasi data approve dari ADMIN RND</li>
                    <li>Melakukan Reject Jika Data Dievaluasi Tidak Sesuai Standart</li>
                </ul>
                <h6 class="mt-3 fw-bold">REJECT</h6>
                <ul>
                    <li>Di Status Reject Prodeve Melakukan Perbaikan Data</li>
                    <li>Prodev Melakukan Resubmit Ke SUPER RA </li>
                </ul>
                <h6 class="mt-3 fw-bold">SUBMITTED</h6>
                <ul>
                    <li>Admin RA Mengupload Data Certificate</li>
                    <li>Selanjutnya Di Approve ke Submited </li>
                </ul>
                <h6 class="mt-3 fw-bold">NOTIFIED</h6>
                <ul>
                    <li>Data Sudah Notified</li>
                    <li>Data Di Notified Sudah Final </li>
                </ul>
                <h5 class="mt-5 fw-bold">FLOW MENU HALAL</h5>
                <ul>
                    <li>Sertifikat Hanya Diterbitkan oleh Admin Halal</li>
                </ul>
                 <h5 class="mt-5 fw-bold">REPORT</h5>
                <ul>
                    <li>Report pendaftaran bpom bisa ditarik berdasarkan kategori filter</li>
                </ul>
                <!-- <h5 class="mt-3 fw-bold">login</h5>
                <ul>
                    <li>username : superadmin</li>
                    <li>password : pass#0300</li>
                </ul> -->
                <!-- <h5 class="mt-3 fw-bold">Link projek</h5>
                <a href="https://mhappkasir.000webhostapp.com/" class="text-decoration-none">klik website</a> -->
                <h5 class="mt-5">Screenshot</h5>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/login.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/dashboard.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/form-bpom.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/cari-data-bpom.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/bpom.png" class="img-fluid" alt="...">
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/report.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/data-bpom.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 pt-lg-5 pt-sm-3">
                        <img src="../img-project/assets/halal.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- footer -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-center">
          <a class="text-center text-decoration-none text-dark" href="#">Created by : Mohtar</a>
        </div>
      </nav>
      <!-- akhir footer -->
      <script src="../assets/bundle.min.js"></script>

  </body>
</html>