<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="../assets/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="../style.css" />
        <title>My Portfolio</title>
      </head>
      <body id="home">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#home"><b class="text-navbar ms-lg-5 fs-3 fw-lighter">Portfolio</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto fs-5 fw-light fst-italic">
                <li class="nav-item">
                  <a class="nav-link text-light" aria-current="page" href="../index.html">Kembali</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12 ps-lg-5 ps-sm-0">
                <h2 class="fw-bolder mt-5">Branch-based cashier application ayam nyungsep</h2>
                <h5 class="mt-3 fw-bold">Superadmin</h5>
                <ul>
                    <li>Manajemen data cabang ( meliputi data kasir, menu cabang, transaksi cabang )</li>
                    <li>Manajemen data transaksi ( informasi mengenai transaksi di semua cabang, meliputi data penjualan & transaksi )</li>
                    <li>Manajemen data bahan mentah keluar & masuk ( informasi bahan mentah masuk atau keluar di gudang )</li>
                    <li>Manajemen data gudang ( ketersediaan bahan mentah cabang )</li>
                    <li>Manajemen data stok ( informasi stok menu cabang )</li>
                    <li>Manajemen data barang keluar ( Barang keluar & Barang masuk )</li>
                </ul>
                <h5 class="mt-3 fw-bold">User </h5>
                <ul>
                    <li>Manajemen transaksi</li>
                    <li>Manajemen pembelian</li>
                    <li>Manajemen data penjualan</li>
                    <li>Manajemen data menu</li>
                </ul>
                <h5 class="mt-3 fw-bold">Link projek</h5>
                <a href="https://nyungsep.com/">klik website</a>
                <h5 class="mt-5">Screenshot</h5>
                <div class="row">
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep1.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep4.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep2.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep3.JPG" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-6 pt-lg-5 pt-sm-3">
                        <img src="../img-project/nyungsep5.JPG" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-center">
            <a class="text-center text-decoration-none text-dark" href="#">Created by : Mohtar</a>
        </div>
    </nav>
    <script src="../assets/bundle.min.js"></script>

  </body>
</html>